# exclude terraform kitchen
**/.terraform/*
*.tfstate
*.tfstate.*
**/secret.tfvars
config.*.tfbackend
crash.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json
**/tfplan

# vim stuff
**/*.swp
